@font-face {
	font-family: thirsty-soft;
	font-weight: 400;
	font-style: normal;
	src: url("../../public/typography/ThirstySoftRegular.otf");
}

@font-face {
	font-family: thirsty-soft;
	font-weight: 700;
	font-style: normal;
	src: url("../../public/typography/ThirstySoftExtrabold.otf");
}

@font-face {
	font-family: TradeGothic;
	font-weight: 400;
	font-style: normal;
	src: url("../../public/typography/TradeGothicLTStd-Cn18.otf");
}

@font-face {
	font-family: TradeGothic;
	font-weight: 800;
	font-style: normal;
	src: url("../../public/typography/TradeGothic-BoldCondTwenty.otf");
}
