footer {
	padding: 75px 20px 5px;
}

.footer--nav {
	margin: 50px;

	ul {
		display: flex;
		justify-content: center;
	}

	li {
		margin: 0 10px;
	}
}

.footer--info {
	color: #7a7a7a;
	text-align: center;

	a {
		color: #7a7a7a;
		transition: 0.3s;

		&:hover {
			color: #ffffff;
			transition: 0.3s;
		}
	}
}
