.header {
	position: relative;
	width: 100%;
	height: 500px;

	/*  background: url(https://images.prismic.io/carlostest/7ec0c5fc-8f5b-40bd-9dd9-8639de70c70a_burgers.jpg?auto=compress,format);
    background-position: center;
    background-size: cover; */

	h1 {
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		margin: 0.67em 0;
		font-size: 5em;
		text-align: center;
	}

	img {
		object-fit: cover;
		width: 100%;
	}

	svg {
		fill: #ffffff;
	}
}

@media only screen and (width <= 700px) {
	.header {
		height: 250px;

		.header h1 {
			font-size: 3rem;
		}

		.header-nav li {
			padding: 5px 10px;
			margin: 0 5px;
		}
	}
}
